<h2><%= gettext("Individuals") %></h2>

<%= link(gettext("Add"), to: Routes.individual_path(@conn, :new), method: :get, class: "btn") %>
<br>
<%= GenialaisWeb.Components.DataTable.table %{:params => @conn.query_params, :data => @data, :controller => "individuals"} %>
