<h2>
    <FontAwesome.LiveView.icon name={gender_icon(@individual.gender)}} class={"gender #{@individual.gender}"} />
    <%= @individual.name_parts.givenName <> " " <> @individual.name_parts.surname %>
</h2>